@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'sans-serif', 'Microsoft YaHei';
}
.pub-mid-assist {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
ul {
  list-style: none;
}
/* 选用样式 */
.none {
  display: none;
}
.activeColor {
  color: #fe8a3d;
}
.inactiveColor {
  color: #ccc;
}
.activeBgColor {
  background-color: #fe8a3d !important;
}
.no-record-div {
  /*position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;*/
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-record-div img {
  width: 24vw;
}
.no-record-div .descript {
  font-size: 5.06666667vw;
  color: #999999;
  margin-top: 2.66666667vw;
}

.month .no-record-div {
  margin-top: 46.66666667vw;
}

.container .no-record-div {
    margin-top: 33vh;
}

